<div class="header-block">
</div>
<div class="logo-block">
    <img src="main/assets/images/logo.png" />
</div>
<div class="login-form-block">
    <div class="login-inner-block">
        <form name="registerform" role="form">
            <div class="login-box-content">
                <h2>Sign Up</h2>
                <p>Create Your New Account and Enter Your Details.</p>
                <hr/>
            </div>
            <div class="input-container-block" ng-class="{'hasvalue' : !registerform.firstName.$error.required, 'errOuter' : registerform.firstName.$error && registerform.firstName.$dirty }">
                <input type="text" name="firstName" id="firstName" ng-model="firstName" required="" />
                <span class="errBlock" ng-show="(registerform.firstName.$dirty && registerform.firstName.$error.required)">Firstname is required.</span>
                <label>First Name</label>
            </div>
            <div class="input-container-block" ng-class="{'hasvalue' : lastName }">
                <input type="text" name="lastName" class="form-control" ng-model="lastName" />
                <label>Last Name</label>
            </div>
            <div class="input-container-block" ng-class="{'hasvalue' : !registerform.email.$error.required, 'errOuter' : registerform.email.$error && registerform.email.$dirty }">
                <input type="email" name="email" id="email" class="form-control" ng-model="email" required />
                <span class="errBlock" ng-show="(registerform.email.$dirty && registerform.email.$error.required)">Email is required.</span>
                <span class="errBlock" ng-show="registerform.email.$error.email">Invalid email address.</span>
                <label>Email Address</label>
            </div>
            <div class="input-container-block" ng-class="{'hasvalue' : !registerform.password.$error.required, 'errOuter' : registerform.password.$error && registerform.password.$dirty }">
                <input type="password" name="password" id="password" ng-minlength="6" class="form-control" ng-model="password" required />
                <span class="errBlock" ng-show="registerform.password.$dirty && registerform.password.$error.required"
                    class="">Password is required.</span>
                <span class="errBlock" ng-show="registerform.password.$dirty && registerform.password.$error.minlength">Password must be longer than 6 characters.</span>
                <label>Password</label>
            </div>
            <div class="loginnbtn">
                <button ng-click='registerform.$valid && register()'>SIGN UP</button>
            </div>
            <div class="signuptxt">
                I have already an account. Please
                <a ui-sref="login">Login</a>
            </div>
        </form>
    </div>
</div>