@font-face {
    font-family: 'RobotoMedium';
    src: url('roboto-medium.eot');
    src: url('roboto-medium.eot') format('embedded-opentype'),
         url('roboto-medium.woff') format('woff'),
         url('roboto-medium.ttf') format('truetype'),
         url('roboto-medium.svg#RobotoMedium') format('svg');
}
