<div class="profileheader">
	<div class="profile-header-top">
		<div class="logoicon"><a href="#/userProfile/{{profileData.id}}"><img src="main/assets/images/back.png"/></a></div>
		<div class="profiletxt">
			Change Password
		</div>
	</div>
</div>
<form name="change_password">
	<div class="editprofiletxtblock">
		<div class="edit-profile-row">
			<div class="edit-profilefull">
				<div class="edit-profileinput hasvalue" ng-class="{'hasvalue' : !change_password.password.$error.required, 'errOuter' : change_password.password.$error && change_password.password.$dirty }">
					<input  name="password" type="password" id="password" ng-model="password" required="" /> 
					<label>Current Password</label>
					<span class="bar-bottom1"></span>
					<span class="errBlock" ng-show="change_password.password.$dirty && change_password.password.$error.required" class="help-block bar-bottom1">Password is required.</span>
				</div>
			</div>
		</div>
		<div class="edit-profile-row">
			<div class="edit-profilefull">
				<div class="edit-profileinput hasvalue" ng-class="{'hasvalue' : !change_password.newpassword.$error.required, 'errOuter' : change_password.newpassword.$error && change_password.newpassword.$dirty }">
					<input  name="newpassword" type="password" id="newpassword" ng-model="newpassword" required="" ng-minlength="6"/>
					<label>New Password</label>
					<span class="bar-bottom1"></span>
					<span class="errBlock" ng-show="change_password.newpassword.$dirty && change_password.newpassword.$error.required">Password is required.</span>
					<span class="errBlock" ng-show="change_password.newpassword.$dirty && change_password.newpassword.$error.minlength">Password must be longer than 6 characters.</span>
				</div>
			</div>
		</div>
		<div class="edit-profile-row">
			<div class="edit-profilefull">
				<div class="edit-profileinput hasvalue" ng-class="{'hasvalue' : !change_password.repassword.$error.required, 'errOuter' : change_password.repassword.$error && change_password.repassword.$dirty }">
					<input  name="repassword" type="password" id="repassword" ng-model="repassword" required="" />  
					<label>Re-type New Password</label>
					<span class="bar-bottom1"></span>
					<span class="errBlock" ng-show="change_password.repassword.$dirty && repassword !== newpassword">Password does not match.</span>
				</div>
			</div>
		</div>
	</div>
	<div class="updateprofile">
		<button type="submit" class="update" ng-click="changePassword()">Change Password</button>
	</div>
</form>
