<div class="header-block">
</div>
<div class="logo-block">
	<img src="main/assets/images/logo.png" />
</div>
<div class="login-form-block">
	<form name="passwordForm" role="form">
		<div class="login-inner-block">
			<div class="login-box-content">
				<h2>Reset password</h2>
				<hr/>
			</div>
			<div class="input-container-block" ng-class="{'hasvalue' : !passwordForm.password.$error.required, 'errOuter' : passwordForm.password.$error && passwordForm.password.$dirty }">
				<input name="password" type="password" ng-minlength="6" ng-model="password" required="" />
				<span class="errBlock" ng-show="passwordForm.password.$dirty && passwordForm.password.$error.required">Password is required.</span>
				<span class="errBlock" ng-show="passwordForm.password.$dirty && passwordForm.password.$error.minlength">Password must be longer than 6 characters.</span>
				<label>Password</label>
			</div>
			<div class="input-container-block" ng-class="{'hasvalue' : !passwordForm.resetPassword.$error.required, 'errOuter' : passwordForm.resetPassword.$error && passwordForm.resetPassword.$dirty }">
				<input name="resetPassword" type="password" ng-model="resetPassword" required="" />
				<span class="errBlock" ng-show="passwordForm.resetPassword.$dirty && resetPassword !== password">Password does not match.</span>
				<label>Re-type password.</label>
			</div>
			<div class="loginnbtn">
				<button ng-click="passwordForm.$valid && resetPw()">RESET</button>
			</div>
		</div>
	</form>
</div>